{% extends "base.html" %}

{% block titulo %} Agregar Cliente {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        <h1>Registro de Clientes</h1>
    </div>

    <!-- Mostrar mensaje de éxito si el formulario es válido -->
    {% if formulario.is_valid %}
        <div class="alert alert-success">
            ¡Cliente guardado exitosamente!
        </div>
    {% endif %}

    <!-- Formulario: Ticket Cabecera -->
    <div class="card-body">
        <h2 class="card-title">Datos del cliente</h2>
    </div>
    
    <form method="post">
        {% csrf_token %}
        {{ formulario.as_p }} <!-- Representa el formulario de cabecera -->
        <button type="submit">Guardar Cliente</button>
    </form>
</div>

{% endblock %}

